<section
  v-if="! staticpage"
  class="book"
>
  <div class="left-page">
    <img v-attr="src: './assets/img/' + leftpage + '.jpg'">
    <div class="left-page__content">
      <div v-if="leftPageObject.hasMedia" class="left-page__interactions">
        <button v-if="leftPageObject.video" v-on="click: showLeftModal" class="button button--scale button--animated" data-remodal-target="modal"><span class="wb-audio"></span></button>
        <button v-if="leftPageObject.static" v-on="click: showLeftModal" class="button button--scale button--animated" data-remodal-target="modal"><span class="wb-static"></span></button>
        <button v-if="leftPageObject.ex" v-on="click: showLeftModal" class="button button--scale button--animated" data-remodal-target="modal"><span class="wb-ex"></span></button>
      </div>
      <a v-if="leftPageObject.hasMedia" v-on="click: showLeftModal" data-remodal-target="modal">
        <div class="left-page__actionable"></div>
      </a>
    </div>
  </div>
  <div class="right-page">
    <img v-attr="src: './assets/img/' + rightpage + '.jpg'">
    <div class="right-page__content">
      <div v-if="rightPageObject.hasMedia" class="right-page__interactions">
        <button v-if="rightPageObject.video" v-on="click: showRightModal" class="button button--scale button--animated" data-remodal-target="modal"><span class="wb-audio"></span></button>
        <button v-if="rightPageObject.static" v-on="click: showRightModal" class="button button--scale button--animated" data-remodal-target="modal"><span class="wb-static"></span></button>
        <button v-if="rightPageObject.ex" v-on="click: showRightModal" class="button button--scale button--animated" data-remodal-target="modal"><span class="wb-ex"></span></button>
      </div>
      <a v-if="rightPageObject.hasMedia" v-on="click: showRightModal" data-remodal-target="modal">
        <div class="right-page__actionable"></div>
      </a>
    </div>
  </div>
</section>
