<div class="exercise exercise--bigselect">
  <img v-attr="src: './assets/img/' + selectedPageObject.ex.bg + '.jpg'">

  <form class="exercise__container">
      <button class="button button--reset button--scale" type="reset">
        <span class="wb-reset"></span>
      </button>

      <div
        v-repeat="row in selectedPageObject.ex.data"
        class="exercise__row"
      >
        <input class="radio-input" type="radio" name="{{ row.identifier }}" value="true" id="{{ row.identifier }}true">

        <label 
          v-attr="style: row.answerTrue"
          class="labelBigselect__answer labelBigselect__answer--true"
          for="{{ row.identifier }}true"
        ></label>

        <input class="radio-input" type="radio" name="{{ row.identifier }}" value="false" id="{{ row.identifier }}false">

        <label
          v-attr="style: row.answerFalse"
          class="labelBigselect__answer labelBigselect__answer--false"
          for="{{ row.identifier }}false"
        ></label>
      </div>
  </form>
</div>