<div
  class="exercise exercise--typer"
>
  <img v-attr="src: './assets/img/' + selectedPageObject.ex.bg + '.jpg'">

  <form class="exercise__container">
    <button class="button button--solve button--scale" type="button" v-on="click: solveForm">
      <span class="wb-solve"></span>
    </button>

    <button v-if="selectedPageObject.ex.help" class="button button--help button--scale" type="button" v-on="click: selectedPageObject.ex.help.toggle = !selectedPageObject.ex.help.toggle">
      <span class="wb-help"></span>
    </button>

    <button v-if="selectedPageObject.ex.audio === 'playing' || selectedPageObject.ex.audio === 'paused'" class="button button--stop button--scale" type="button" v-on="click: stopExSound(selectedPageObject.no, 'ex')">
      <span class="wb-stop"></span>
    </button>

    <button v-if="selectedPageObject.ex.audio === 'playing'" class="button button--pause button--scale" type="button" v-on="click: pauseExSound(selectedPageObject.no, 'ex')">
      <span class="wb-pause"></span>
    </button>

    <button v-if="selectedPageObject.ex.audio === 'stopped' || selectedPageObject.ex.audio === 'paused'" class="button button--play button--scale" type="button" v-on="click: playExSound(selectedPageObject.no, 'ex')">
      <span class="wb-play"></span>
    </button>

    <button class="button button--reset button--scale" type="reset" v-on="click: resetForm">
      <span class="wb-reset"></span>
    </button>

    <section v-show="selectedPageObject.ex.help.toggle" class="help">
      <span v-text="selectedPageObject.ex.help.text"></span>
    </section>

    <div
      v-repeat="row in selectedPageObject.ex.data"
      class="typer__wrapper"
      v-attr="style: row.position"
    >
      <input
        v-if="row.textarea == undefined"
        type="text"
        name="{{ row.identifier }}"
        class="typer__input typer--{{ this.selectedPageObject.no }}"
        v-model="row.model"
        maxlength="{{ row.solution.length }}"
        v-on="keyup:checkSolution(row.model, row.solution)"
      >

      <textarea
        v-if="row.textarea != undefined"
        name="{{ row.identifier }}"
        class="typer__input typer__textarea typer--{{ this.selectedPageObject.no }}"
        v-model="row.model"
        maxlength="{{ row.solution.length }}"
        v-on="keyup:checkSolution(row.model, row.solution)"
        rows="{{ row.textareaRows }}"
      ></textarea>

      <span v-if="row.model.length == row.solution.length && row.model.toLowerCase() == row.solution" class="wb-checkmark"></span>

      <span v-if="row.model.length == row.solution.length && row.model.toLowerCase() != row.solution" class="wb-cancel"></span>
    </div>
  </form>
</div>
