<div
  class="exercise exercise--typer"
>
  <img v-attr="src: './assets/img/' + selectedPageObject.ex2.bg + '.jpg'">

  <form class="exercise__container">
    <button class="button button--solve button--scale" type="button" v-on="click: solveForm">
      <span class="wb-solve"></span>
    </button>

    <button v-if="selectedPageObject.ex2.help" class="button button--help button--scale" type="button" v-on="click: selectedPageObject.ex2.help.toggle = !selectedPageObject.ex2.help.toggle">
      <span class="wb-help"></span>
    </button>

    <button v-if="selectedPageObject.ex2.audio === 'playing' || selectedPageObject.ex2.audio === 'paused'" class="button button--stop button--scale" type="button" v-on="click: stopExSound(selectedPageObject.no, 'ex2')">
      <span class="wb-stop"></span>
    </button>

    <button v-if="selectedPageObject.ex2.audio === 'playing'" class="button button--pause button--scale" type="button" v-on="click: pauseExSound(selectedPageObject.no, 'ex2')">
      <span class="wb-pause"></span>
    </button>

    <button v-if="selectedPageObject.ex2.audio === 'stopped' || selectedPageObject.ex2.audio === 'paused'" class="button button--play button--scale" type="button" v-on="click: playExSound(selectedPageObject.no, 'ex2')">
      <span class="wb-play"></span>
    </button>

    <button class="button button--reset button--scale" type="reset" v-on="click: resetForm">
      <span class="wb-reset"></span>
    </button>

    <section v-show="selectedPageObject.ex2.help.toggle" class="help">
      <span v-text="selectedPageObject.ex2.help.text"></span>
    </section>

    <div
      v-repeat="row in selectedPageObject.ex2.data"
      class="typer__wrapper"
      v-attr="style: row.position"
    >
      <input
        type="text"
        name="{{ row.identifier }}"
        class="typer__input typer--{{ this.selectedPageObject.no }}_2"
        v-class="
          correct: row.model.length == row.solution.length && row.model.toLowerCase() == row.solution,
          incorrect: row.model.length == row.solution.length && row.model.toLowerCase() != row.solution
        "
        v-model="row.model"
        maxlength="{{ row.solution.length }}"
        v-on="keyup:checkSolution(row.model, row.solution)"
      >
    </div>
  </form>
</div>
