<div class="exercise exercise--circleselect">
  <img v-attr="src: './assets/img/' + selectedPageObject.ex.bg + '.jpg'">

  <form class="exercise__container">
    <button class="button button--solve button--scale" type="button" v-on="click: solveCheck">
      <span class="wb-solve"></span>
    </button>

    <button v-if="selectedPageObject.ex.help" class="button button--help button--scale" type="button" v-on="click: selectedPageObject.ex.help.toggle = !selectedPageObject.ex.help.toggle">
      <span class="wb-help"></span>
    </button>

    <button v-if="selectedPageObject.ex.audio === 'playing' || selectedPageObject.ex.audio === 'paused'" class="button button--stop button--scale" type="button" v-on="click: stopExSound(selectedPageObject.no, 'ex')">
      <span class="wb-stop"></span>
    </button>

    <button v-if="selectedPageObject.ex.audio === 'playing'" class="button button--pause button--scale" type="button" v-on="click: pauseExSound(selectedPageObject.no, 'ex')">
      <span class="wb-pause"></span>
    </button>

    <button v-if="selectedPageObject.ex.audio === 'stopped' || selectedPageObject.ex.audio === 'paused'" class="button button--play button--scale" type="button" v-on="click: playExSound(selectedPageObject.no, 'ex')">
      <span class="wb-play"></span>
    </button>

    <button class="button button--reset button--scale" type="reset" v-on="click: resetForm">
      <span class="wb-reset"></span>
    </button>

    <section v-show="selectedPageObject.ex.help.toggle" class="help">
      <span v-text="selectedPageObject.ex.help.text"></span>
    </section>

    <div
      v-repeat="row in selectedPageObject.ex.data"
      class="exercise__row"
      v-attr="style: row.position"
    >
      <input
        class="radio-input circleselect--{{ this.selectedPageObject.no }}"
        type="radio"
        name="{{ row.identifier }}"
        value="true"
        id="{{ row.identifier }}true"
        v-model="row.model"
        v-on="click: playStaticSound('true')"
      >

      <label
        v-attr="style: row.answerTrue"
        class="labelCircleselect__answer labelCircleselect__answer--true"
        for="{{ row.identifier }}true"
      ></label>
    </div>
  </form>
</div>
