<div
  class="exercise exercise--dnd"
>
  <img v-attr="src: './assets/img/-2.jpg'">

  <form class="exercise__container">
    <button class="button button--solve button--scale" type="button" v-on="click: selectedPageObject.ex.solution = !selectedPageObject.ex.solution">
      <span class="wb-solve"></span>
    </button>

    <button v-if="selectedPageObject.ex.help" class="button button--help button--scale" type="button" v-on="click: selectedPageObject.ex.help.toggle = !selectedPageObject.ex.help.toggle">
      <span class="wb-help"></span>
    </button>

    <button v-if="selectedPageObject.ex.audio === 'playing' || selectedPageObject.ex.audio === 'paused'" class="button button--stop button--scale" type="button" v-on="click: stopExSound(selectedPageObject.no, 'ex')">
      <span class="wb-stop"></span>
    </button>

    <button v-if="selectedPageObject.ex.audio === 'playing'" class="button button--pause button--scale" type="button" v-on="click: pauseExSound(selectedPageObject.no, 'ex')">
      <span class="wb-pause"></span>
    </button>

    <button v-if="selectedPageObject.ex.audio === 'stopped' || selectedPageObject.ex.audio === 'paused'" class="button button--play button--scale" type="button" v-on="click: playExSound(selectedPageObject.no, 'ex')">
      <span class="wb-play"></span>
    </button>

    <button class="button button--reset button--scale" type="reset" v-on="click: resetDnd">
      <span class="wb-reset"></span>
    </button>

    <section v-show="selectedPageObject.ex.help.toggle" class="help">
      <span v-text="selectedPageObject.ex.help.text"></span>
    </section>

    <section class="remodal__navigation">
      <button
        v-on="click: interactNow"
        v-text="'Incepe'"
        v-el="startButton"
        class="button button--reversed button--large"
      >
      </button>
    </section>

    <p>Gaseste raspunsurile corecte</p>

    <div v-el="sandbox" class="dnd__sandbox">
      <div
        v-repeat="row in selectedPageObject.ex.data | orderBy 'answerID'"
        class="dnd__answer-container launch--{{ row.rowID }}"
      >
        <div style="display: inline-block">
          <span class="dnd__sandbox-a"><span v-text="row.answerID" class="dnd__label"></span> <span v-html="row.answerText"></span></span>&#8195;<span class="dnd__checkmark wb-checkmark"></span>
        </div>
      </div>
    </div>

    <div v-el="dropzone" class="dnd__dropzone">
      <div
        v-repeat="row in selectedPageObject.ex.data"
        class="dnd__dropzone-row"
      >
        <div class="dnd__dropzone-q">
          <span class="dnd__dropzone-def"><span v-text="row.questionID" class="dnd__label"></span> <span v-html="row.questionText"></span></span>
        </div>

        <div class="dnd__dropzone-a target--{{ row.rowID }}">
          <span>&nbsp;</span>
        </div>
      </div>
    </div>

    <p v-show="selectedPageObject.ex.solution">
      <strong>Solutie:</strong>
      <span
        v-repeat="row in selectedPageObject.ex.data"
        v-text="row.questionID + '-' + row.answerID"
        class="dnd__solution"
      >
      </span>
    </p>
  </form>
</div>
