<div class="remodal" data-remodal-id="modal-ex2" data-remodal-options="closeOnOutsideClick: false">
  <button data-remodal-action="close" class="remodal-close" v-on="click: stopExSound(selectedPageObject.no, 'ex2')"></button>

  <div class="remodal__exercise">
    <h1 v-if="selectedPageObject.title2" v-text="selectedPageObject.title2" class="remodal__title"></h1>

    <div v-if="selectedPageObject.ex2.name == 'mediumselect'">
      @@include('./exercise--mediumselect2.html')
    </div>

    <div v-if="selectedPageObject.ex2.name == 'typer'">
      @@include('./exercise--typer2.html')
    </div>

    <div v-if="selectedPageObject.ex2.name == 'typerbg'">
      @@include('./exercise--typerbg2.html')
    </div>

    <div v-if="selectedPageObject.ex2.name == 'dnd'">
      <!-- @@include('./exercise--dnd.html') -->
    </div>
  </div>
</div>
