<div id="remodal" class="remodal" data-remodal-id="modal-ex" data-remodal-options="closeOnOutsideClick: false">
  <button data-remodal-action="close" class="remodal-close"></button>

  <div class="remodal__exercise">
    <h1 v-if="selectedPageObject.title" v-text="selectedPageObject.title" class="remodal__title"></h1>

    <div v-if="selectedPageObject.ex.name == 'bigselect'">
      @@include('./exercise--bigselect.html')
    </div>

    <div v-if="selectedPageObject.ex.name == 'mediumselect'">
      @@include('./exercise--mediumselect.html')
    </div>

    <div v-if="selectedPageObject.ex.name == 'circleselect'">
      @@include('./exercise--circleselect.html')
    </div>

    <div v-if="selectedPageObject.ex.name == 'typer'">
      @@include('./exercise--typer.html')
    </div>

    <div v-if="selectedPageObject.ex.name == 'typerbg'">
      @@include('./exercise--typerbg.html')
    </div>

    <div v-if="selectedPageObject.ex.name == 'dnd'">
      @@include('./exercise--dnd.html')
    </div>
  </div>
</div>
