<div id="remodal" class="remodal" data-remodal-id="modal">
  <button data-remodal-action="close" class="remodal-close"></button>

  <div v-if="selectedPageObject.video" v-show="currentModalContent == 'video'" class="remodal__video">
    <video v-attr="src: './assets/video/' + selectedPageObject.video" width="630" controls preload></video>
  </div>

  <div v-if="selectedPageObject.static" v-show="currentModalContent == 'static'" class="remodal__static">
    <!-- If single static image -->
    <div v-if="typeof selectedPageObject.static === 'string'">
      <div class="static-asset static-asset--single">
        <img v-attr="src: './assets/img/' + selectedPageObject.static + '.jpg'">
      </div>
    </div>

    <!-- If multiple static images -->
    <div v-if="typeof selectedPageObject.static != 'string'">
      <div class="static-asset static-asset--multiple">
        <select v-model="selected">
          <option v-repeat="static in selectedPageObject.static">{{ static }}</option>
        </select>

        <img v-attr="src: './assets/img/' + selected + '.jpg'">
      </div>
    </div>
  </div>

  <div v-if="selectedPageObject.ex" v-show="currentModalContent == 'ex'" class="remodal__exercise">
    <h1 v-if="selectedPageObject.title" v-text="selectedPageObject.title" class="remodal__title"></h1>

    <div v-if="selectedPageObject.ex.name == 'bigselect'">
      @@include('./exercise--bigselect.html')
    </div>

    <div v-if="selectedPageObject.ex.name == 'mediumselect'">
      @@include('./exercise--mediumselect.html')
    </div>

    <div v-if="selectedPageObject.ex.name == 'typer'">
      @@include('./exercise--typer.html')
    </div>

    <div v-if="selectedPageObject.ex.name == 'typerbg'">
      @@include('./exercise--typerbg.html')
    </div>

    <div v-if="selectedPageObject.ex.name == 'dnd'">
      @@include('./exercise--dnd.html')
    </div>
  </div>

  <div v-if="selectedPageObject.ex2" v-show="currentModalContent == 'ex2'" class="remodal__exercise">
    <h1 v-if="selectedPageObject.title2" v-text="selectedPageObject.title2" class="remodal__title"></h1>

    <div v-if="selectedPageObject.ex2.name == 'bigselect'">
      <!-- @@include('./exercise--bigselect2.html') -->
    </div>

    <div v-if="selectedPageObject.ex2.name == 'mediumselect'">
      <!-- @@include('./exercise--mediumselect2.html') -->
    </div>

    <div v-if="selectedPageObject.ex2.name == 'typer'">
      @@include('./exercise--typer2.html')
    </div>

    <div v-if="selectedPageObject.ex2.name == 'typerbg'">
      @@include('./exercise--typerbg2.html')
    </div>
  </div>

  @@include('./modal-navigation.html')
</div>
