<section
  v-if="staticpage"
  class="static"
>
  <div class="static__inner">
    <div
      v-if="staticpage == 'toc'"
    >
      <h1 v-text="site.pages.toc.title" class="static__heading"></h1>

      <ul class="static__chapters">
        <li
          v-repeat="chapter in site.pages.toc.chapters"
        >
          <a
            v-on="click: goToPage(chapter.pageno)"
            href="#"
          >
            {{ chapter.title }} <span class="static__page">{{ chapter.pageno }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div
      v-if="staticpage == 'help'"
    >
      <h1 v-text="site.pages.help.title" class="static__heading"></h1>

      <p v-repeat="paragraph in site.pages.help.introParagraphs" v-text="paragraph.text"></p>

      <ul class="static__help">
        <li
          v-repeat="def in site.pages.help.defs"
        >
          <span class="wb-{{ def.icon }}"></span> {{ def.helper }}
        </li>
      </ul>

      <p v-repeat="paragraph in site.pages.help.outroParagraphs" v-text="paragraph.text"></p>
    </div>
  </div>
</section>
