<div v-if="leftpage == 4" class="left-page__content">
  <a v-on="click: jumpToToc(5)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 79.5%; top: 15%'"></div>
  </a>

  <a v-on="click: jumpToToc(17)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 73.5%; top: 21%'"></div>
  </a>

  <a v-on="click: jumpToToc(39)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 68%; top: 27%'"></div>
  </a>

  <a v-on="click: jumpToToc(55)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 61.5%; top: 33%'"></div>
  </a>

  <a v-on="click: jumpToToc(71)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 56%; top: 38.5%'"></div>
  </a>

  <a v-on="click: jumpToToc(73)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 50.5%; top: 44%'"></div>
  </a>

  <a v-on="click: jumpToToc(77)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 44%; top: 50.5%'"></div>
  </a>

  <a v-on="click: jumpToToc(81)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 38.5%; top: 57%'"></div>
  </a>
</div>
