<div v-if="leftpage == 4" class="left-page__content">
  <a v-on="click: jumpToToc(5)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 79.5%; top: 15%'"></div>
  </a>

  <a v-on="click: jumpToToc(27)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 72%; top: 22%'"></div>
  </a>

  <a v-on="click: jumpToToc(49)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 65.5%; top: 29%'"></div>
  </a>

  <a v-on="click: jumpToToc(66)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 58.5%; top: 36%'"></div>
  </a>

  <a v-on="click: jumpToToc(67)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 51.5%; top: 43%'"></div>
  </a>

  <a v-on="click: jumpToToc(82)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 44.5%; top: 50%'"></div>
  </a>

  <a v-on="click: jumpToToc(86)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 37.5%; top: 57%'"></div>
  </a>
</div>
