<div v-if="leftpage == 4" class="left-page__content">
  <a v-on="click: jumpToToc(6)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 85%; top: 10%'"></div>
  </a>

  <a v-on="click: jumpToToc(8)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 69.5%; top: 15%'"></div>
  </a>

  <a v-on="click: jumpToToc(20)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 55%; top: 30%'"></div>
  </a>

  <a v-on="click: jumpToToc(36)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 40.5%; top: 45%'"></div>
  </a>

  <a v-on="click: jumpToToc(52)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 26%; top: 59.5%'"></div>
  </a>

  <a v-on="click: jumpToToc(68)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 21.5%; top: 74%'"></div>
  </a>

  <a v-on="click: jumpToToc(71)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 16%; top: 78.5%'"></div>
  </a>

  <a v-on="click: jumpToToc(74)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 12%; top: 84%'"></div>
  </a>

  <a v-on="click: jumpToToc(80)">
    <div class="left-page__actionable" v-attr="style: 'bottom: 7.5%; top: 88%'"></div>
  </a>
</div>
