<div id="app" class="remodal-bg">
  @@include('./menu.html')

  @@include('./modal-video.html')
  @@include('./modal-video2.html')
  @@include('./modal-static.html')
  @@include('./modal-static2.html')
  @@include('./modal-static3.html')
  @@include('./modal-static4.html')
  @@include('./modal-ex.html')
  @@include('./modal-ex2.html')
  @@include('./modal-ex3.html')

  <div class="wrapper">
    @@include('./book.html')
    @@include('./static.html')

    <button v-on="click: prevPages" v-show="canGoBack" class="button button--pagenav button--previous button--translateleft"><span class="wb-arrow-left"></span></button>
    <button v-on="click: nextPages" v-show="canGoForward" class="button button--pagenav button--next button--translateright"><span class="wb-arrow-right"></span></button>
  </div>
</div>
