/*------------------------------------*\
  #Global Config
\*------------------------------------*/

// Font Stacks

$font-url--google        : '//fonts.googleapis.com/css?family=Bubblegum+Sans';
$font-family--primary    : 'Bubblegum Sans', cursive;
// Font Weights

// $font-weight--light      : 300;
$font-weight--medium     : 400;
// $font-weight--bold       : 700;
// $font-weight--ultra-bold : 900;

// Descriptive Base Colors

$white            : #fff;
$black            : #0b0b0b;
$grey             : #797e83;

$tradewind        : #6CBEB0;
$red-orange       : #ff5349;
$log-cabin        : #192419;

// Color Palette Modifiers

$palettes: (
  grey: (
    xx-light  : lighten($grey, 43%),
    x-light   : lighten($grey, 35%),
    light     : lighten($grey, 12%),
    base      : $grey,
    dark      : darken($grey, 8%),
    x-dark    : darken($grey, 16%)
  ),
  black: (
    light     : lighten($black, 10%),
    base      : $black,
    dark      : darken($black, 10%)
  )
);

// UI Colors

$ui-colors: (
  primary    : $tradewind,
  secondary  : $red-orange
);

// Text

$base__font-size  : 14px;
$base__line       : 15.4px;

// Border radius

$br--small        : 4px;
$br--medium       : 7px;
$br--large        : 10px;

// Breakpoints

$brkpoint-xs      : 1px;
$brkpoint-sm      : 767px;
$brkpoint-md      : 991px;
$brkpoint-lg      : 1199px;
$brkpoint-xlg     : 1919px;
