.exercise {
  position: relative;

  @include element(container) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @include modifier(mediumselect) {
    .exercise__waffle {
      height: 100%;
    }

    .exercise__row {
      position: relative;
      lost-waffle: 1/2;
    }
  }

  @include modifier(bigselect) {
    .exercise__container {
      padding-top: 3%;
    }

    .exercise__row {
      position: relative;
      height: 24.25%;
    }
  }
}

.radio-input {
  display: none;

  &:checked + label {
    opacity: 1;
  }
}

.labelBigselect {
  @include element(answer) {
    width: 14.5%;
    height: 80%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    @include modifier(true) {
      background-image: url(../img/bigselect--true.png);
    }

    @include modifier(false) {
      background-image: url(../img/bigselect--false.png);
    }
  }
}

.labelMediumselect {
  @include element(answer) {
    width: 6.8%;
    height: 5.6%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    @include modifier(true) {
      background-image: url(../img/mediumselect--true.png);
    }

    @include modifier(false) {
      background-image: url(../img/mediumselect--false.png);
    }
  }
}

.typer {
  @include element(wrapper) {
    display: inline-block;
    position: absolute;
    font-family: Arial, sans-serif;
  }

  @include element(input) {
    border: none;
    background: transparent;
    text-align: center;
  }

  @include modifier(9) {
    width: 170px;
  }

  @include modifier(14) {
    width: 120px;
  }

  @include modifier(15) {
    width: 240px;
  }

  @include modifier(23) {
    width: 140px;
  }

  @include modifier(27) {
    width: 100px;
    -ms-transform: rotate(6.5deg); /* IE 9 */
    -webkit-transform: rotate(6.5deg); /* Chrome, Safari, Opera */
    transform: rotate(6.5deg);
  }
}
